<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@media only screen and (min-width: 320px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 450px;}
        50%{top:460px;}
        100%{top: 450px;}
    }
    
    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 14%;
        top: 30%;
        font-size: 20px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count:infinite; 
    }

    
    #scrollDown{
        position:absolute;
        left: 140px;
        top: 450px;
        animation: scrolldown  1s infinite;
    }

    

#container{
    position: absolute;
    background-color: white;
    top: 700px;
    height: 1800px;
    margin: 2.5%;
    width: 95%;
    border-radius: 5px;
}



#discIcon{
    left: 70px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 130px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 195px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    z-index: 10;
    top: 00px;
    box-shadow: 1px 1px 8px black;
}
.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 23px;
    z-index: 2
}

#programmerText{
    position: absolute;
    top: 300px;
    left: 20px;
}

#pgrButton{
    top: 20px;
    left: 20px;
    box-shadow: 1px, 1px, 8px, #000000;
    z-index: 2;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 600px;
    left: 20px;
}

#modelerText{
    left: 20px;
    top: 880px;
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 1100px;
    left: 20px;
}

#designerText{
    bottom: 300px;
    left: 20px;
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 35px;
    font-size: 60px;
    display: none;
}

#programmerTitle {
    position:absolute;
    font-size: 40px;
    left: 40px;
    top: 30px;
}

#modelerTitle {
    position:absolute;
    font-size: 40px;
    left: 50px;
    top: 600px;
}

#designerTitle {
    position:absolute;
    font-size: 40px;
    left: 70px;
    top: 1100px;
}

}

@media only screen and (min-width: 375px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }
    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 450px;}
        50%{top:460px;}
        100%{top: 450px;}
    }
    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 12%;
        top: 30%;
        font-size: 25px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count:infinite;
    }
    
    #scrollDown{
        position:absolute;
        left: 155px;
        top: 450px;
        animation: scrolldown 1s infinite;
    }

    

#container{
    position: absolute;
    background-color: white;
    top: 700px;
    height: 1400px;
    margin: 2.5%;
    width: 355px;
    border-radius: 5px;
}



#discIcon{
    left: 90px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 150px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 215px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    box-shadow: 1px, 1px, 8px, black;
}

.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

.card{
    position: absolute;
    z-index: 1;
    box-shadow: 1px, 1px, 8px,#000000;
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 23px;
    z-index: 2
}

#programmerText{
    position: absolute;
    top: 250px;
    left: 45px;
}

#pgrButton{
    top: 0px;
    left: 50px;
    box-shadow: 1px, 1px, 8px, #000000;
    z-index: 2;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 430px;
    left: 60px;
}

#modelerText{
    left: 45px;
    top: 700px;
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 900px;
    left: 60px;
}

#designerText{
    top: 1200px;
    left: 45px;
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 490px;
    font-size: 60px;
    display: none;
}

#programmerTitle {
    position:absolute;
    font-size: 40px;
    left: 70px;
    top: 0px;
}

#modelerTitle {
    position:absolute;
    font-size: 40px;
    left: 70px;
    top: 450px;
}

#designerTitle {
    position:absolute;
    font-size: 40px;
    left: 100px;
    top: 900px;
}

}

@media only screen and (min-width: 425px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }
    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 450px;}
        50%{top: 460px;}
        100%{top: 450px;}
    }    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 35px;
        top: 150px;
        font-size: 30px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 180px;
        top: 450px;
        animation: scrolldown 1s infinite;
    }

    

#container{
    position: absolute;
    background-color: white;
    top: 700px;
    height: 1500px;
    margin: 2.5%;
    width: 95%;
    border-radius: 5px;
}



#discIcon{
    left: 120px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 180px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 240px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    top: 0px;
    box-shadow: 1px, 1px, 8px, black;
}
.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

.card{
    position: absolute;
    z-index: 1;
    box-shadow: 1px, 1px, 8px,#000000;
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 23px;
    z-index: 2
}

#programmerText{
    position: absolute;
    top: 300px;
    left: 20px;
}

#pgrButton{
    top: 10px;
    box-shadow: 1px, 1px, 8px, #000000;
    z-index: 2;
    left: 60px;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 480px;
    left: 60px;
}

#modelerText{
    left: 20px;
    top: 740px;
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 950px;
    left: 70px;
}

#designerText{
    top: 1200px;
    left: 20px;
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 490px;
    font-size: 60px;
}

#programmerTitle {
    position:absolute;
    font-size: 40px;
    left: 80px;
    top: 0px;
}

#modelerTitle {
    position:absolute;
    font-size: 40px;
    left: 90px;
    top: 480px;
}

#designerTitle {
    position:absolute;
    font-size: 40px;
    left: 120px;
    top: 950px;
}

}

@media only screen and (min-width: 768px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 470px}
        50%{top: 480px}
        100%{top: 470px}
    }    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 12%;
        top: 25%;
        font-size: 50px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 370px;
        top: 470px;
        animation: scrolldown 1s infinite;
    }


    #container{
        position: absolute;
        background-color: white;
        top: 700px;
        height: 1000px;
        margin: 2.5%;
        width: 95%;
        border-radius: 5px;
    }
    
    
    
    #discIcon{
        left: 265px;
    }
    
    #discIcon:hover{
        opacity: 0.8;
    }
    
    #instaIcon{
        left: 365px;
    }
    
    #instaIcon:hover{
        opacity: 0.8;
    }
    
    #twitIcon{
        left: 465px;
    }
    
    #twitIcon:hover{
        opacity: 0.8;
    }
    
    .social{
        position:absolute;
        left: 600px;
        top: 360px;
        box-shadow: 1px, 1px, 8px, black;
    }
    .workImage{
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        padding: 10px;
        box-shadow: 1px, 1px, 8px, black;
        border-radius: 5px;
        margin: 80px;
        margin-top: 120px;
    }
    
    .card{
        position: absolute;
        z-index: 1;
        box-shadow: 1px, 1px, 8px,#000000;
        background-color: #ff0000;
        height: 100px;
        width: 100px;
    }
    
    a{
        text-decoration: none;
    }
    
    .text{
        position: absolute;
        font-size: 23px;
        z-index: 2
    }
    
    #programmerText{
        position: absolute;
        top: 250px;
        left: 200px;
        width: 500px;
    }
    
    #pgrButton{
        top: 120px;
        left: 1px;
        box-shadow: 1px, 1px, 8px, #000000;
        z-index: 2;
    }
    
    #pgrButton:hover{
        opacity: 0.8;
    }
    
    #mdlButton{
        top: 360px;
        left: 1px;
    }
    
    #modelerText{
        left: 200px;
        width: 500px;
        top: 500px;
    }
    
    #mdlButton:hover{
        opacity: 0.8;
    }
    
    #dsgnButton{
        top: 600px;
        left: 1px;
    }
    
    #designerText{
        top: 750px;
        left: 200px;
        width: 500px;
    }
    
    #dsgnButton:hover{
        opacity: 0.8;
    }
    
    #subtitle{
        position: absolute;
        left: 490px;
        font-size: 60px;
    }
    
    #programmerTitle {
        position:absolute;
        font-size: 40px;
        left: 260px;
        top: 140px;
    }
    
    #modelerTitle {
        position:absolute;
        font-size: 40px;
        left: 260px;
        top: 365px;
    }
    
    #designerTitle {
        position:absolute;
        font-size: 40px;
        left: 280px;
        top: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 550px;}
        50%{top:560px;}
        100%{top: 550px;}
    }
    
    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 20%;
        top: 25%;
        font-size: 50px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 475px;
        top: 550px;
        animation: scrolldown 1s infinite;
    }
    

#container{
    position: absolute;
    background-color: white;
    top: 700px;
    height: 1000px;
    margin: 2.5%;
    width: 95%;
    border-radius: 5px;
}



#discIcon{
    left: 370px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 470px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 570px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    left: 600px;
    top: 360px;
    box-shadow: 1px, 1px, 8px, black;
}

.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

.card{
    position: absolute;
    z-index: 1;
    box-shadow: 1px, 1px, 8px,#000000;
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 23px;
    z-index: 2;

}

#programmerText{
    position: absolute;
    top: 250px;
    left: 250px;
    width: 600px;
    text-align: justify;
}

#pgrButton{
    top: 120px;
    box-shadow: 1px, 1px, 8px, #000000;
    z-index: 2;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 360px;
}

#modelerText{
    left: 250px;
    top: 500px;
    width: 600px;
    text-align: justify;
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 600px;
}

#designerText{
    top: 750px;
    left: 250px;
    width: 600px;
    text-align: justify;
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 490px;
    font-size: 60px;
}

#programmerTitle {
    position:absolute;
    font-size: 40px;
    left: 300px;
    top: 140px;
}

#modelerTitle {
    position:absolute;
    font-size: 40px;
    left: 300px;
    top: 365px;
}

#designerTitle {
    position:absolute;
    font-size: 40px;
    left: 300px;
    top: 600px;
}
}

@media screen and (min-width:1360px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 540px;}
        50%{top: 550px;}
        100%{top: 540px;}
    }

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 27%;
        top: 25%;
        font-size: 50px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 625px;
        top: 550px;
        animation: scrolldown 1s infinite;
    }


    #container{
        position: absolute;
        background-color: white;
        top: 700px;
        height: 1000px;
        margin: 2.5%;
        width: 95%;
        border-radius: 5px;
    }
    
    
    
    #discIcon{
        left: 520px;
    }
    
    #discIcon:hover{
        opacity: 0.8;
    }
    
    #instaIcon{
        left: 620px;
    }
    
    #instaIcon:hover{
        opacity: 0.8;
    }
    
    #twitIcon{
        left: 720px;
    }
    
    #twitIcon:hover{
        opacity: 0.8;
    }
    
    .social{
        position:absolute;
        left: 600px;
        top: 360px;
        box-shadow: 1px, 1px, 8px, black;
    }

    .workImage{
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        padding: 10px;
        box-shadow: 1px, 1px, 8px, black;
        border-radius: 5px;
        margin: 80px;
        margin-top: 120px;
    }
    
    .card{
        position: absolute;
        z-index: 1;
        box-shadow: 1px, 1px, 8px,#000000;
        background-color: #ff0000;
        height: 100px;
        width: 100px;
    }
    
    a{
        text-decoration: none;
    }
    
    .text{
        position: absolute;
        font-size: 23px;
        z-index: 2
    }
    
    #programmerText{
        position: absolute;
        top: 250px;
        left: 350px;
    }
    
    #pgrButton{
        top: 120px;
        box-shadow: 1px, 1px, 8px, #000000;
        z-index: 2;
        left: 100px;
    }
    
    #pgrButton:hover{
        opacity: 0.8;
    }
    
    #mdlButton{
        top: 360px;
        left: 100px;
    }
    
    #modelerText{
        left: 350px;
        top: 500px;
    }
    
    #mdlButton:hover{
        opacity: 0.8;
    }
    
    #dsgnButton{
        top: 600px;
        left: 100px;
    }
    
    #designerText{
        top: 750px;
        left: 350px;
    }
    
    #dsgnButton:hover{
        opacity: 0.8;
    }
    
    #subtitle{
        display: block;
        position: absolute;
        left: 490px;
        font-size: 60px;
    }
    
    #programmerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 140px;
    }
    
    #modelerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 365px;
    }
    
    #designerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 600px;
    }
  
}

@media only screen and (min-width:1440px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 540px;}
        50%{top: 550px;}
        100%{top: 540px;}
    }
    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 30%;
        top: 25%;
        font-size: 50px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 700px;
        top: 550px;
        animation: scrolldown 1s infinite;
    }


    #container{
        position: absolute;
        background-color: white;
        top: 700px;
        height: 1000px;
        margin: 2.5%;
        width: 95%;
        border-radius: 5px;
    }
    
    
    
    #discIcon{
        left: 590px;
    }
    
    #discIcon:hover{
        opacity: 0.8;
    }
    
    #instaIcon{
        left: 690px;
    }
    
    #instaIcon:hover{
        opacity: 0.8;
    }
    
    #twitIcon{
        left: 790px;
    }
    
    #twitIcon:hover{
        opacity: 0.8;
    }
    
    .social{
        position:absolute;
        left: 600px;
        top: 360px;
        box-shadow: 1px, 1px, 8px, black;
    }

    .workImage{
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        padding: 10px;
        box-shadow: 1px, 1px, 8px, black;
        border-radius: 5px;
        margin: 80px;
        margin-top: 120px;
    }
    
    .card{
        position: absolute;
        z-index: 1;
        box-shadow: 1px, 1px, 8px,#000000;
        background-color: #ff0000;
        height: 100px;
        width: 100px;
    }
    
    a{
        text-decoration: none;
    }
    
    .text{
        position: absolute;
        font-size: 23px;
        z-index: 2
    }
    
    #programmerText{
        position: absolute;
        top: 250px;
        left: 350px;
    }
    
    #pgrButton{
        top: 120px;
        box-shadow: 1px, 1px, 8px, #000000;
        z-index: 2;
        left: 100px;
    }
    
    #pgrButton:hover{
        opacity: 0.8;
    }
    
    #mdlButton{
        top: 360px;
        left: 100px;
    }
    
    #modelerText{
        left: 350px;
        top: 500px;
    }
    
    #mdlButton:hover{
        opacity: 0.8;
    }
    
    #dsgnButton{
        top: 600px;
        left: 100px;
    }
    
    #designerText{
        top: 750px;
        left: 350px;
    }
    
    #dsgnButton:hover{
        opacity: 0.8;
    }
    
    #subtitle{
        display: block;
        position: absolute;
        left: 490px;
        font-size: 60px;
    }
    
    #programmerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 140px;
    }
    
    #modelerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 365px;
    }
    
    #designerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 600px;
    }

}

@media only screen and (min-width:2560px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 850px;}
        50%{top: 870px;}
        100%{top: 850px;}
    }
    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 27%;
        top: 15%;
        font-size: 100px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        height: 100px;
        width: 100px;
        left: 1210px;
        top: 850px;
        animation: scrolldown 1s infinite;
    }

    

#container{
    position: absolute;
    background-color: white;
    top: 1100px;
    height: 2000px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: 5px;
}



#discIcon{
    left: 1000px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 1200px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 1400px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    height: 100px;
    width: 100px;
    top: 600px;
    box-shadow: 1px, 1px, 8px, black;
}

.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

.card{
    position: absolute;
    z-index: 1;
    box-shadow: 1px, 1px, 8px,#000000;
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 40px;
    z-index: 2;

}

#programmerText{
    position: absolute;
    top: 450px;
    left: 450px;
    width: 1000px;  
}

#pgrButton{
    left: 90px;
    top: 320px;
    border-radius: 10px;
    z-index: 2;
    height: 200px;
    width: 200px;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 750px;
    height: 200px;
    width: 200px;
}

#modelerText{
    left: 450px;
    top: 900px;
    width: 1000px;  
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 1200px;
    height: 200px;
    width: 200px;
}

#designerText{
    top: 1350px;
    left: 450px;
    width: 1000px;  
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 690px;
    font-size: 100px;
}

#programmerTitle {
    position:absolute;
    font-size: 70px;
    left: 690px;
    top: 240px;
}

#modelerTitle {
    position:absolute;
    font-size: 70px;
    left: 710px;
    top: 680px;
}

#designerTitle {
    position:absolute;
    font-size: 70px;
    left: 760px;
    top: 1140px;
}

}
=======
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@media only screen and (min-width: 320px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 450px;}
        50%{top:460px;}
        100%{top: 450px;}
    }
    
    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 14%;
        top: 30%;
        font-size: 20px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count:infinite; 
    }

    
    #scrollDown{
        position:absolute;
        left: 140px;
        top: 450px;
        animation: scrolldown  1s infinite;
    }

    

#container{
    position: absolute;
    background-color: white;
    top: 700px;
    height: 1800px;
    margin: 2.5%;
    width: 95%;
    border-radius: 5px;
}



#discIcon{
    left: 70px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 130px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 195px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    z-index: 10;
    top: 00px;
    box-shadow: 1px 1px 8px black;
}
.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 23px;
    z-index: 2
}

#programmerText{
    position: absolute;
    top: 300px;
    left: 20px;
}

#pgrButton{
    top: 20px;
    left: 20px;
    box-shadow: 1px, 1px, 8px, #000000;
    z-index: 2;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 600px;
    left: 20px;
}

#modelerText{
    left: 20px;
    top: 880px;
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 1100px;
    left: 20px;
}

#designerText{
    bottom: 300px;
    left: 20px;
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 35px;
    font-size: 60px;
    display: none;
}

#programmerTitle {
    position:absolute;
    font-size: 40px;
    left: 40px;
    top: 30px;
}

#modelerTitle {
    position:absolute;
    font-size: 40px;
    left: 50px;
    top: 600px;
}

#designerTitle {
    position:absolute;
    font-size: 40px;
    left: 70px;
    top: 1100px;
}

}

@media only screen and (min-width: 375px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }
    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 450px;}
        50%{top:460px;}
        100%{top: 450px;}
    }
    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 12%;
        top: 30%;
        font-size: 25px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count:infinite;
    }
    
    #scrollDown{
        position:absolute;
        left: 155px;
        top: 450px;
        animation: scrolldown 1s infinite;
    }

    

#container{
    position: absolute;
    background-color: white;
    top: 700px;
    height: 1400px;
    margin: 2.5%;
    width: 355px;
    border-radius: 5px;
}



#discIcon{
    left: 90px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 150px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 215px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    box-shadow: 1px, 1px, 8px, black;
}

.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

.card{
    position: absolute;
    z-index: 1;
    box-shadow: 1px, 1px, 8px,#000000;
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 23px;
    z-index: 2
}

#programmerText{
    position: absolute;
    top: 250px;
    left: 45px;
}

#pgrButton{
    top: 0px;
    left: 50px;
    box-shadow: 1px, 1px, 8px, #000000;
    z-index: 2;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 430px;
    left: 60px;
}

#modelerText{
    left: 45px;
    top: 700px;
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 900px;
    left: 60px;
}

#designerText{
    top: 1200px;
    left: 45px;
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 490px;
    font-size: 60px;
    display: none;
}

#programmerTitle {
    position:absolute;
    font-size: 40px;
    left: 70px;
    top: 0px;
}

#modelerTitle {
    position:absolute;
    font-size: 40px;
    left: 70px;
    top: 450px;
}

#designerTitle {
    position:absolute;
    font-size: 40px;
    left: 100px;
    top: 900px;
}

}

@media only screen and (min-width: 425px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }
    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 450px;}
        50%{top: 460px;}
        100%{top: 450px;}
    }    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 35px;
        top: 150px;
        font-size: 30px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 180px;
        top: 450px;
        animation: scrolldown 1s infinite;
    }

    

#container{
    position: absolute;
    background-color: white;
    top: 700px;
    height: 1500px;
    margin: 2.5%;
    width: 95%;
    border-radius: 5px;
}



#discIcon{
    left: 120px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 180px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 240px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    top: 0px;
    box-shadow: 1px, 1px, 8px, black;
}
.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

.card{
    position: absolute;
    z-index: 1;
    box-shadow: 1px, 1px, 8px,#000000;
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 23px;
    z-index: 2
}

#programmerText{
    position: absolute;
    top: 300px;
    left: 20px;
}

#pgrButton{
    top: 10px;
    box-shadow: 1px, 1px, 8px, #000000;
    z-index: 2;
    left: 60px;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 480px;
    left: 60px;
}

#modelerText{
    left: 20px;
    top: 740px;
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 950px;
    left: 70px;
}

#designerText{
    top: 1200px;
    left: 20px;
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 490px;
    font-size: 60px;
}

#programmerTitle {
    position:absolute;
    font-size: 40px;
    left: 80px;
    top: 0px;
}

#modelerTitle {
    position:absolute;
    font-size: 40px;
    left: 90px;
    top: 480px;
}

#designerTitle {
    position:absolute;
    font-size: 40px;
    left: 120px;
    top: 950px;
}

}

@media only screen and (min-width: 768px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 470px}
        50%{top: 480px}
        100%{top: 470px}
    }    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 12%;
        top: 25%;
        font-size: 50px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 370px;
        top: 470px;
        animation: scrolldown 1s infinite;
    }


    #container{
        position: absolute;
        background-color: white;
        top: 700px;
        height: 1000px;
        margin: 2.5%;
        width: 95%;
        border-radius: 5px;
    }
    
    
    
    #discIcon{
        left: 265px;
    }
    
    #discIcon:hover{
        opacity: 0.8;
    }
    
    #instaIcon{
        left: 365px;
    }
    
    #instaIcon:hover{
        opacity: 0.8;
    }
    
    #twitIcon{
        left: 465px;
    }
    
    #twitIcon:hover{
        opacity: 0.8;
    }
    
    .social{
        position:absolute;
        left: 600px;
        top: 360px;
        box-shadow: 1px, 1px, 8px, black;
    }
    .workImage{
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        padding: 10px;
        box-shadow: 1px, 1px, 8px, black;
        border-radius: 5px;
        margin: 80px;
        margin-top: 120px;
    }
    
    .card{
        position: absolute;
        z-index: 1;
        box-shadow: 1px, 1px, 8px,#000000;
        background-color: #ff0000;
        height: 100px;
        width: 100px;
    }
    
    a{
        text-decoration: none;
    }
    
    .text{
        position: absolute;
        font-size: 23px;
        z-index: 2
    }
    
    #programmerText{
        position: absolute;
        top: 250px;
        left: 200px;
        width: 500px;
    }
    
    #pgrButton{
        top: 120px;
        left: 1px;
        box-shadow: 1px, 1px, 8px, #000000;
        z-index: 2;
    }
    
    #pgrButton:hover{
        opacity: 0.8;
    }
    
    #mdlButton{
        top: 360px;
        left: 1px;
    }
    
    #modelerText{
        left: 200px;
        width: 500px;
        top: 500px;
    }
    
    #mdlButton:hover{
        opacity: 0.8;
    }
    
    #dsgnButton{
        top: 600px;
        left: 1px;
    }
    
    #designerText{
        top: 750px;
        left: 200px;
        width: 500px;
    }
    
    #dsgnButton:hover{
        opacity: 0.8;
    }
    
    #subtitle{
        position: absolute;
        left: 490px;
        font-size: 60px;
    }
    
    #programmerTitle {
        position:absolute;
        font-size: 40px;
        left: 260px;
        top: 140px;
    }
    
    #modelerTitle {
        position:absolute;
        font-size: 40px;
        left: 260px;
        top: 365px;
    }
    
    #designerTitle {
        position:absolute;
        font-size: 40px;
        left: 280px;
        top: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 550px;}
        50%{top:560px;}
        100%{top: 550px;}
    }
    
    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 20%;
        top: 25%;
        font-size: 50px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 475px;
        top: 550px;
        animation: scrolldown 1s infinite;
    }
    

#container{
    position: absolute;
    background-color: white;
    top: 700px;
    height: 1000px;
    margin: 2.5%;
    width: 95%;
    border-radius: 5px;
}



#discIcon{
    left: 370px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 470px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 570px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    left: 600px;
    top: 360px;
    box-shadow: 1px, 1px, 8px, black;
}

.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

.card{
    position: absolute;
    z-index: 1;
    box-shadow: 1px, 1px, 8px,#000000;
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 23px;
    z-index: 2;

}

#programmerText{
    position: absolute;
    top: 250px;
    left: 250px;
    width: 600px;
    text-align: justify;
}

#pgrButton{
    top: 120px;
    box-shadow: 1px, 1px, 8px, #000000;
    z-index: 2;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 360px;
}

#modelerText{
    left: 250px;
    top: 500px;
    width: 600px;
    text-align: justify;
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 600px;
}

#designerText{
    top: 750px;
    left: 250px;
    width: 600px;
    text-align: justify;
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 490px;
    font-size: 60px;
}

#programmerTitle {
    position:absolute;
    font-size: 40px;
    left: 300px;
    top: 140px;
}

#modelerTitle {
    position:absolute;
    font-size: 40px;
    left: 300px;
    top: 365px;
}

#designerTitle {
    position:absolute;
    font-size: 40px;
    left: 300px;
    top: 600px;
}
}

@media screen and (min-width:1360px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 540px;}
        50%{top: 550px;}
        100%{top: 540px;}
    }

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 27%;
        top: 25%;
        font-size: 50px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 625px;
        top: 550px;
        animation: scrolldown 1s infinite;
    }


    #container{
        position: absolute;
        background-color: white;
        top: 700px;
        height: 1000px;
        margin: 2.5%;
        width: 95%;
        border-radius: 5px;
    }
    
    
    
    #discIcon{
        left: 520px;
    }
    
    #discIcon:hover{
        opacity: 0.8;
    }
    
    #instaIcon{
        left: 620px;
    }
    
    #instaIcon:hover{
        opacity: 0.8;
    }
    
    #twitIcon{
        left: 720px;
    }
    
    #twitIcon:hover{
        opacity: 0.8;
    }
    
    .social{
        position:absolute;
        left: 600px;
        top: 360px;
        box-shadow: 1px, 1px, 8px, black;
    }

    .workImage{
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        padding: 10px;
        box-shadow: 1px, 1px, 8px, black;
        border-radius: 5px;
        margin: 80px;
        margin-top: 120px;
    }
    
    .card{
        position: absolute;
        z-index: 1;
        box-shadow: 1px, 1px, 8px,#000000;
        background-color: #ff0000;
        height: 100px;
        width: 100px;
    }
    
    a{
        text-decoration: none;
    }
    
    .text{
        position: absolute;
        font-size: 23px;
        z-index: 2
    }
    
    #programmerText{
        position: absolute;
        top: 250px;
        left: 350px;
    }
    
    #pgrButton{
        top: 120px;
        box-shadow: 1px, 1px, 8px, #000000;
        z-index: 2;
        left: 100px;
    }
    
    #pgrButton:hover{
        opacity: 0.8;
    }
    
    #mdlButton{
        top: 360px;
        left: 100px;
    }
    
    #modelerText{
        left: 350px;
        top: 500px;
    }
    
    #mdlButton:hover{
        opacity: 0.8;
    }
    
    #dsgnButton{
        top: 600px;
        left: 100px;
    }
    
    #designerText{
        top: 750px;
        left: 350px;
    }
    
    #dsgnButton:hover{
        opacity: 0.8;
    }
    
    #subtitle{
        display: block;
        position: absolute;
        left: 490px;
        font-size: 60px;
    }
    
    #programmerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 140px;
    }
    
    #modelerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 365px;
    }
    
    #designerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 600px;
    }
  
}

@media only screen and (min-width:1440px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 540px;}
        50%{top: 550px;}
        100%{top: 540px;}
    }
    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 30%;
        top: 25%;
        font-size: 50px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        left: 700px;
        top: 550px;
        animation: scrolldown 1s infinite;
    }


    #container{
        position: absolute;
        background-color: white;
        top: 700px;
        height: 1000px;
        margin: 2.5%;
        width: 95%;
        border-radius: 5px;
    }
    
    
    
    #discIcon{
        left: 590px;
    }
    
    #discIcon:hover{
        opacity: 0.8;
    }
    
    #instaIcon{
        left: 690px;
    }
    
    #instaIcon:hover{
        opacity: 0.8;
    }
    
    #twitIcon{
        left: 790px;
    }
    
    #twitIcon:hover{
        opacity: 0.8;
    }
    
    .social{
        position:absolute;
        left: 600px;
        top: 360px;
        box-shadow: 1px, 1px, 8px, black;
    }

    .workImage{
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        padding: 10px;
        box-shadow: 1px, 1px, 8px, black;
        border-radius: 5px;
        margin: 80px;
        margin-top: 120px;
    }
    
    .card{
        position: absolute;
        z-index: 1;
        box-shadow: 1px, 1px, 8px,#000000;
        background-color: #ff0000;
        height: 100px;
        width: 100px;
    }
    
    a{
        text-decoration: none;
    }
    
    .text{
        position: absolute;
        font-size: 23px;
        z-index: 2
    }
    
    #programmerText{
        position: absolute;
        top: 250px;
        left: 350px;
    }
    
    #pgrButton{
        top: 120px;
        box-shadow: 1px, 1px, 8px, #000000;
        z-index: 2;
        left: 100px;
    }
    
    #pgrButton:hover{
        opacity: 0.8;
    }
    
    #mdlButton{
        top: 360px;
        left: 100px;
    }
    
    #modelerText{
        left: 350px;
        top: 500px;
    }
    
    #mdlButton:hover{
        opacity: 0.8;
    }
    
    #dsgnButton{
        top: 600px;
        left: 100px;
    }
    
    #designerText{
        top: 750px;
        left: 350px;
    }
    
    #dsgnButton:hover{
        opacity: 0.8;
    }
    
    #subtitle{
        display: block;
        position: absolute;
        left: 490px;
        font-size: 60px;
    }
    
    #programmerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 140px;
    }
    
    #modelerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 365px;
    }
    
    #designerTitle {
        position:absolute;
        font-size: 40px;
        left: 495px;
        top: 600px;
    }

}

@media only screen and (min-width:2560px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        background-color: #1c1c1c;
    }

    @keyframes background1 {
        0% {background-color: #1c1c1c;}
        50% {background-color: black;}
        100% {background-color: #1c1c1c;}
    }
    
    @keyframes titulocor {
        0%{color: white;}
        50%{color: rgb(183, 0, 255);}
        100%{color: white;}
    }

    @keyframes scrolldown {
        0%{top: 850px;}
        50%{top: 870px;}
        100%{top: 850px;}
    }
    

    body{
        animation-name: background1;
        animation-iteration-count: infinite;
        animation-duration: 10s;
    }
    
    .MainTitle{
        position:absolute;
        color: white;
        text-align: center;
        left: 27%;
        top: 15%;
        font-size: 100px;
        animation-name: titulocor;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    #scrollDown{
        position:absolute;
        height: 100px;
        width: 100px;
        left: 1210px;
        top: 850px;
        animation: scrolldown 1s infinite;
    }

    

#container{
    position: absolute;
    background-color: white;
    top: 1100px;
    height: 2000px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: 5px;
}



#discIcon{
    left: 1000px;
}

#discIcon:hover{
    opacity: 0.8;
}

#instaIcon{
    left: 1200px;
}

#instaIcon:hover{
    opacity: 0.8;
}

#twitIcon{
    left: 1400px;
}

#twitIcon:hover{
    opacity: 0.8;
}

.social{
    position:absolute;
    height: 100px;
    width: 100px;
    top: 600px;
    box-shadow: 1px, 1px, 8px, black;
}

.workImage{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    box-shadow: 1px, 1px, 8px, black;
    border-radius: 5px;
    margin: 80px;
    margin-top: 120px;
}

.card{
    position: absolute;
    z-index: 1;
    box-shadow: 1px, 1px, 8px,#000000;
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.text{
    position: absolute;
    font-size: 40px;
    z-index: 2;

}

#programmerText{
    position: absolute;
    top: 450px;
    left: 450px;
    width: 1000px;  
}

#pgrButton{
    left: 90px;
    top: 320px;
    border-radius: 10px;
    z-index: 2;
    height: 200px;
    width: 200px;
}

#pgrButton:hover{
    opacity: 0.8;
}

#mdlButton{
    top: 750px;
    height: 200px;
    width: 200px;
}

#modelerText{
    left: 450px;
    top: 900px;
    width: 1000px;  
}

#mdlButton:hover{
    opacity: 0.8;
}

#dsgnButton{
    top: 1200px;
    height: 200px;
    width: 200px;
}

#designerText{
    top: 1350px;
    left: 450px;
    width: 1000px;  
}

#dsgnButton:hover{
    opacity: 0.8;
}

#subtitle{
    position: absolute;
    left: 690px;
    font-size: 100px;
}

#programmerTitle {
    position:absolute;
    font-size: 70px;
    left: 690px;
    top: 240px;
}

#modelerTitle {
    position:absolute;
    font-size: 70px;
    left: 710px;
    top: 680px;
}

#designerTitle {
    position:absolute;
    font-size: 70px;
    left: 760px;
    top: 1140px;
}

}
>>>>>>> 884660f4046bf44dfce51cf522c91573bda00e45
